<b> Regression Analysis </b>

Aim of this notebook is to use regression models to see how accuracy of models change when conducting analysis with and without features that highly correlate with minority and sex. This analysis is meant to be used as a benchmark when comparing these models to a deep learning model.

In [ ]:
### Process ###

## Get data and create df

## Preprocess
    ## Change default to boolean numeric (0,1)
    ## Convert occupation and ZIP codes into numbers (dummys)
    
## Create Train Test Splits

## Create linear regression models with different input variables

## Check for accrucay

Observations:
    1. Minority perfecty correlated with defaulting
    2. Rent closely correlated with defaulting
    2. Job security negatively correlated with defaulting
    3. Income and education closely correlated
    4. Gender negatively correlated with income and education
    5. Minority negatively correlated with job security

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [21]:
# Get Data and create DF

df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
df_train.head()

,Unnamed: 0,minority,sex,ZIP,rent,education,age,income,loan_size,payment_timing,year,job_stability,default,occupation
0,0,1,0,MT04PA,1,57.230650,36.050927,205168.022244,7600.292199,3.302193,0,3.015554,True,MZ10CD
1,1,1,0,MT04PA,1,45.891343,59.525251,187530.409981,5534.271289,3.843058,0,5.938132,True,MZ10CD
2,2,1,0,MT04PA,1,46.775489,67.338108,196912.006690,2009.903438,2.059034,0,2.190777,True,MZ10CD
3,3,1,0,MT04PA,1,41.784839,24.067401,132911.650615,3112.280893,3.936169,0,1.725860,True,MZ10CD
4,4,1,0,MT04PA,1,41.744838,47.496605,161162.551205,1372.077093,3.709910,0,0.883104,True,MZ10CD

---------

In [98]:
### Preprocess

# Change boolean into number
result = df_train["default"].astype(int)
df_train["default"] = result

# Create dummys for ZIP and occupation
df_train["ZIP"] = pd.get_dummies(df_train["ZIP"])
df_train["occupation"] = pd.get_dummies(df_train["occupation"])

# Convert from uint to float
df_train["ZIP"] = df_train["ZIP"].astype(float)
df_train["occupation"] = df_train["occupation"].astype(float)

df_train.head()

,Unnamed: 0,minority,sex,ZIP,rent,education,age,income,loan_size,payment_timing,year,job_stability,default,occupation
0,0,1,0,0.0,1,57.230650,36.050927,205168.022244,7600.292199,3.302193,0,3.015554,1,0.0
1,1,1,0,0.0,1,45.891343,59.525251,187530.409981,5534.271289,3.843058,0,5.938132,1,0.0
2,2,1,0,0.0,1,46.775489,67.338108,196912.006690,2009.903438,2.059034,0,2.190777,1,0.0
3,3,1,0,0.0,1,41.784839,24.067401,132911.650615,3112.280893,3.936169,0,1.725860,1,0.0
4,4,1,0,0.0,1,41.744838,47.496605,161162.551205,1372.077093,3.709910,0,0.883104,1,0.0

-----------------

In [99]:
# Train_test split 

X = df_train.drop(["default"],axis=1).values
y = df_train["default"].values

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state = 42)

In [97]:
# First Model with all features

model_1 = LinearRegression()
model_1.fit(X_train,y_train)

print("Intercept: " + str(model_1.intercept_))
# print("Coef: "      + str(model_1.coef_))
print()
print("Accuracy: "      + str(model_1.score(X_test,y_test)))

Intercept: 0.17427083758841833

Accuracy: 0.9955245253956022

-------

In [113]:
# Withouth minority and sex

# Train_test split for test dataset
X = df_train.drop(["default","minority","sex"],axis=1).values
y = df_train["default"].values

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state = 42)

# First Model with all features

model_3 = LinearRegression()
model_3.fit(X_train,y_train)

print("Intercept: " + str(model_3.intercept_))
print()
print("Accuracy: "      + str(model_3.score(X_test,y_test)))

Intercept: 1.011218536456691

Accuracy: 0.9955211873444626

In [117]:
# Without income, job stability, minority

# Train_test split for test dataset
X = df_train.drop(["default","income","job_stability","minority"],axis=1).values
y = df_train["default"].values

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state = 42)

# First Model with all features

model_4 = LinearRegression()
model_4.fit(X_train,y_train)

print("Intercept: " + str(model_4.intercept_))
print()
print("Accuracy: "      + str(model_4.score(X_test,y_test)))

Intercept: 1.0005313042458392

Accuracy: 0.9946948654327047

In [120]:
# Without job stability, minority, ZIP, occupation

# Train_test split for test dataset
X = df_train.drop(["default","job_stability","minority","ZIP","occupation"],axis=1).values
y = df_train["default"].values

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state = 42)

# First Model with all features

model_6 = LinearRegression()
model_6.fit(X_train,y_train)

print("Intercept: " + str(model_6.intercept_))
print()
print("Accuracy: "      + str(model_6.score(X_test,y_test)))

Intercept: 0.7422853290322737

Accuracy: 0.8621749505047198

In [132]:
# Without job stability, minority, ZIP, occupation, income


# Train_test split for test dataset
X = df_train.drop(["default","job_stability","minority","occupation","ZIP","income"],axis=1).values
y = df_train["default"].values

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state = 42)

# First Model with all features

model_6 = LinearRegression()
model_6.fit(X_train,y_train)

print("Intercept: " + str(model_6.intercept_))
print()
print("Accuracy: "      + str(model_6.score(X_test,y_test)))

Intercept: 0.7412312052119532

Accuracy: 0.8621744743296745